body {
    margin: 0;
    padding: 0;
    background: #642B73;
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);
    background: linear-gradient(to right, #C6426E, #642B73);
}

.custom {

    background: transparent;
    border: 0;
}

.navCustom {
    overflow: hidden;
    background-color: black !important;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.navbar-brand {
    pointer-events: none;
}

.navCustom a:hover {
    border-radius: 30px;
    background-color: #C6426E;
}

.card-text {
    font-size: 12px !important;
}

.card {
    border: 0;
    background-color: transparent;
}

.card-text {
    text-align: center;
    font-size: 15px;
}

.customcard {
    margin-top: 150px;
    margin-left: 40px;
}

.container {
    position: relative;
}

.container .row {
    align-items: baseline;
}

.container .btn-outline-light {
    position: absolute;
    right: 10px;
    top: 70px
}

.container .btn-primary {
    margin-left: 28px;
    background-color: black;
    border: black;
    font-size: 12px;
}

.card-body {
    text-align: center;
}